/* Global section */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*font-family: 'Source Sans Pro', sans-serif;*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.layout-social .layout-icon{
  font-size: 2.5em;
}

/* typography */
.family-sans{
  font-family: 'Source Sans Pro', sans-serif;
}
.site-nav{
  font-family: 'Source Sans Pro', sans-serif;
  background: rgb(17, 30, 108);
}
.site-footer{
  background: #1ed2f4;
  /* bottom: 0;
  position: fixed; */
  width: 100%;
}
/* for page header*/
.main-header-title{
  font-size: 1.5em;
  font-weight: 200;
}
.main-header-content{
  color: #212121;
  background: rgba(17, 31, 108, 0.212);
}

